@import 'tokens';

.TextInput {
  &__label {
    display: block;
    text-align: start;
    margin-bottom: 0.25rem;
    font-size: $text-size-s;
    color: $text-on-white;
  }
  &__input {
    display: block;
    width: 100%;
    border: none;
    background-color: $color-grey-100;
    padding: 0.5rem;
    border-radius: $border-radius-s;
    font-size: $text-size-l;
    &:focus {
      outline: none;
      box-shadow: $focus-ring;
      background-color: $color-grey-050;
    }
  }
  &__message {
    margin-top: 0.125rem;
    display: block;
    font-size: $text-size-xs;
    color: $text-on-white--danger;
    text-align: end;
  }
}
